/*
 Theme Name:   Real Spaces Child Theme
 Theme URI:    https://730wavy.com/
 Description:  Real Spaces Child Theme
 Author:       RJ
 Author URI:   https://730wavy.com/
 Template:     inspiry-real-places
*/

.break {
    flex-basis: 100%;
    height: 0;
}


.searchbtn {
    width: 61% !important;
    float: left !important;
}


/* HEADER STYLES */

header {
    width: 100%;
    display: block;
    padding: 0 0 15px 0;
}

.newHeader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #e3f9e5;
}

#new-mobile-header,
#new-mobile-header-nav {
    display: none;
}

.newContainer {
    display: flex;
    width: 90%;
    margin: 0px auto;
    align-items: center;
}

.newHeader-topBar {
    background: #2c8fb3;
    padding: 8px 0;
    color: #fff;
}

.newHeader-topBar .user-nav {
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}

.newHeader-topBar .user-nav li:not(:last-child) {
    margin-right: 12px;
}

.newHeader-topBar .user-nav li a {
    color: #fff;
    font-size: 1.025rem;
}

.newHeader-topBar .login-register-link {
    color: #ffb668 !important;
}

.login-register-link,
.newHeader-topBar .submit-property-link {
    color: #ffb668 !important;
}

.login-register-link .contacts-icon-container {
	display: none;
}

#headerLeft { margin-right: auto; }
#headerRight { margin-left: auto; }

#headerRight .user-nav a {
    font-size: 13px !important;
    color: #fcfcfc !important;
}

.newHeader-top .user-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    text-transform: uppercase;
    list-style: none;
    flex-direction: row;
    height: fit-content;
}

.newHeader-top .user-nav li {
    display: flex;
    align-items: center;
    height: fit-content;
}

.newHeader-top .user-nav li:not(:last-child) {
    margin-right: 10px;
}

.newHeader-bottom {
    margin-top: 5px;
}

.newHeader-bottom #menu-main-menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    text-transform: uppercase;
    list-style: none;
    flex-direction: row;
}

.newSite-title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: sans-serif;
}

#site-main-nav ul li:not(:last-child) {
    margin-right: 40px !important;
}

#site-main-nav-left ul li:not(:last-child) {
    margin-right: 40px !important;
}

.newContainer .site-main-nav .main-menu>li>a,
.newContainer .site-main-nav-left .main-menu>li>a {
    color: #000;
    font-size: 1.5rem;
    text-transform: none;
}

.newContainer .site-main-nav .sub-menu,
.newContainer .site-main-nav-left .sub-menu {
    background: #f3fff4;
}

.newContainer .site-main-nav .sub-menu li a,
.newContainer .site-main-nav-left .sub-menu li a {
    color: #000;
    font-size: 1.5rem;
    text-transform: none;
}

.newHeader .mobile-header {
    background: none;
}

.newHeader .mean-container .meanmenu-reveal span {
    background: #000;
}

#mobileMenuIcon {
    margin-top: 8px;
}

#mobilenavBG {
    background: #00000059;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 990;
    display: none;
    pointer-events: none;
}

#new-mobile-header-nav {
    display: none;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99999;
    padding: 1em;
}

.mobiletopLinksCon {
    border-top: 0.125em solid #57aa5b;
    border-bottom: 0.125em solid #57aa5b;
    padding: 5px 0;
    margin-top: 6px;
}

#mobilemenuTop .mobiletopLinks {
    font-size: 1.8rem;
    margin: 0;
    color: #2c8fb3;
    width: 100%;
    display: inline-block;
    font-weight: 800;
}

#closemobileMenu img {
    width: 25px;
    margin-bottom: 10px;
}


/* HOME BLOCK ONE - SEARCH */

#newMain .main-advance-search {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#searchDiv {
    padding: 108px 0;
}

.homeSearchCon {
    background: #46464678;
    width: 90%;
    margin: 0px auto;
    position: relative;
    top: 15vh;
}

.newContainer.homeSearchHeading {
    padding-top: 10vh;
    flex-wrap: wrap;
}

.homeSearchHeading span {
    color: #ffb668;
    font-weight: 700;
}

.newContainer.homeSearchHeading h1,
.newContainer.homeSearchHeading h3 {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
}

.newContainer.homeSearchHeading h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.newContainer.homeSearchHeading h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 2rem;
    color: #efefef;
}

.newContainer.homeSearchBox {
    padding-bottom: 10vh;
    flex-wrap: wrap;
}

.newContainer.homeSearchBox .advance-search-form {
    width: 90%;
    margin: 0px auto;
    max-width: 600px;
}

.newContainer.homeSearchBox .advance-search-form .option-bar.property-keyword {
    width: 75%;
    padding: 0;
}

.keyword-txt {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0;
}

#keyword-txt {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0;
}

.newContainer.homeSearchBox .option-bar.form-control-buttons {
    width: 25%;
    padding: 0;
}

.newContainer.homeSearchBox .form-submit-btn {
    background: #57aa5b;
}

#advancesearchLink {
    text-decoration: underline;
}

#advancesearchCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
}

#advanceSearchBox h1 {
    color: #2c8fb3;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-align: center;
}

#advanceSearchBox h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 2rem;
    color: #4a525d;
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
    margin-bottom: 1em;
}

#advanceSearchBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    background: #f3f3f3;
    width: 90%;
    padding: 2em;
    min-height: 50vh;
}

#advanceSearchBox .option-bar {
    display: inline-block;
    width: 24%;
    margin: 0.5%;
}

#advanceSearchBox .option-bar input {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 12px;
}

#advanceSearchBox .form-submit-btn {
    background: #293542;
	
}

.advanceSearchBox h1 {
    color: #2c8fb3;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-align: center;
}

.advanceSearchBox h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 2rem;
    color: #4a525d;
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
    margin-bottom: 1em;
}

.advanceSearchBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    background: #f3f3f3;
    width: 90%;
    padding: 2em;
    min-height: 50vh;
}

.advanceSearchBox .option-bar {
    display: inline-block;
    width: 280px !important;
    margin: 0.5%;
}

.advanceSearchBox .option-bar input {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 12px;
}

.advanceSearchBox .form-submit-btn {
    background: #fafcfa;
	padding: 15px;
	position: relative;
	margin-left: 500px;
}

.advancesearchClose {
    color: #949494;
    text-align: center;
    margin-top: 1em;
    display: inline-block;
    width: 100%;
    text-decoration: underline;
    cursor: pointer;
}

.select2-dropdown.select2-dropdown--above,
.select2-dropdown.select2-dropdown--below {
    position: relative;
    z-index: 999999;
}


/* HOME BLOCK 2 - HOW IT WORKS */

.newContainer2 {
    width: 90%;
    margin: 0px auto;
}

#howitworksDiv .newContainer2 {
    padding-top: 10vh;
}

#howitworksDiv .newContainer2 h1 {
    color: #2c8fb3;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-align: center;
}

#howitworksDiv .newContainer2 h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 2rem;
    color: #4a525d;
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
}

.newContainer .submit-property-placeholder .image-wrapper {
    margin-bottom: 10px;
}

#howitworksDiv .submit-property-title {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}

#howitworksDiv {
    padding-bottom: 15vh;
    min-height: 100vh;
}


/* HOME BLOCK 3 - MAP */

#listing-map {
    /*min-height: 100vh;*/
}


/* HOME BLOCK 4 - PROPERTIES */

#homeProperties {
    padding-top: 15vh;
    min-height: 100vh;
}

#homeProperties h1 {
    color: #313131;
    font-size: 4rem;
    font-weight: 800;
    margin: 0px auto;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-align: center;
    width: 90%;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#homeProperties .newContainer {
    flex-wrap: wrap;
    padding-bottom: 15vh;
    align-content: center;
}

.homepropBoxes {
    flex: 1 0 21%;
    margin: 15px;
    margin-bottom: 1.5em;
}

.new-property-description {
    min-height: 90px;
}

.new-property-description .property-listing-two a {
    color: #000;
}

.noobjectfit {
    object-fit: none;
}

.new-property-thumbnail {}

.new-property-thumbnail img {
    height: 175px;
}

.new-property-thumbnail a img {
    height: 175px;
}

.new-price-and-status {
    color: #2a3542;
    font-size: 2em;
    height: fit-content;
    margin-top: 0px;
}

#homeProperties .new-property-info {
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 10px;
}

#homeProperties .new-property-info a {
    color: #000;
}

#homeProperties .new-property-city {
    margin-top: -5px;
}

#homeProperties .new-property-city a {
    color: #000;
}


/* FOOTER STYLES */

footer {
    background: #293542 !important;
    padding-top: 2em;
    color: #fff;
}

blog-footer {
    background: #189336;
    padding-top: 2em;
    color: #fff;
}

footer .widget-title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

footer .widget a {
    color: #fff;
}

#lct-widget-country {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.mean-container .mean-nav {
    right: 0;
    left: auto;
}

#scroll-top {
    background-color: #878d94 !important;
    right: 52px !important;
    bottom: 20px !important;
}

#scroll-top:active {
    background-color: #7a8ca0!important;
}

#scroll-top:hover {
    background-color: #7a8ca0!important;
}


/* RESPONSIVE CSS RULES */

@media ( max-width: 900px) {
    .newHeader {
        top: 0;
    }
    .newHeader-top,
    .newHeader-topBar,
    .newHeader-bottom {
        display: none;
    }
    #new-mobile-header {
        display: block;
    }
    #new-mobile-header-nav {
        overflow-y: scroll;
    }
    #new-mobile-header-nav .newContainer {
        display: block;
    }
    #site-main-nav,
    #site-main-nav-left {
        display: block;
        padding-bottom: 5px;
    }
    .user-nav {
        border-top: 0.125em solid #57aa5b;
        padding-top: 5px;
    }
    #site-main-nav,
    #site-main-nav-left,
    #menu-main-menu {
        display: block;
        width: 100%;
		
    }
    .site-main-nav .main-menu li,
    .site-main-nav-left .main-menu li {
        width: 100%;
        display: block;
    }
    .user-nav .fa {
        display: none;
    }
	
    .newContainer .site-main-nav .main-menu>li>a,
    .newContainer .site-main-nav-left .main-menu>li>a,
    #headerLeft .user-nav a {
        font-size: 1.8rem;
        color: #2c8fb3;
        text-transform: none;
    }
    .newContainer .site-main-nav .main-menu>li>a,
    .newContainer .site-main-nav-left .main-menu>li>a,
    #headerRight .user-nav a {
        font-size: 1.8rem;
        color: #2c8fb3;
        text-transform: none;
    }
    .footerBoxes.fRight {
        width: 300px;
    }
    #newMain .main-advance-search {
        min-height: 475px;
        height: 100vh;
    }
    .homepropBoxes {
        margin: 10px;
        margin-bottom: 10px;
    }
    .new-property-thumbnail img {
        height: 135px;
    }
    .new-property-thumbnail a img {
        height: 135px;
    }
    .new-price-and-status {
        font-size: 1.5em;
        margin-top: -10px;
    }
    #searchDiv {
        padding: 20px 0 1em 0;
    }
}

@media ( max-width: 800px) {
    #homeProperties h1 {
        margin-bottom: 0.5em;
    }
}

@media ( max-width: 640px) {
    .newHeader-top,
    .newHeader-topBar {
        display: none;
    }
    #advanceSearchBox {
        width: 100%;
        padding-top: 30vh;
    }
    #advanceSearchBox .option-bar {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    .homepropBoxes {
        flex: 1 0 48%;
    }
    .newFooter .newContainer {
        display: block;
    }
    .footerBoxes {
        width: 100%;
        display: block;
    }
    .footerBoxes.fRight {
        width: 100%;
    }
    .homepropBoxes {
        flex: 1 0 45%;
    }
    .new-property-thumbnail img {
        height: 200px;
    }
    .new-property-thumbnail a img {
        height: 200px;
    }
    .new-price-and-status {}
}

@media ( max-width: 600px) {
    #sitelogo img {
        width: 100px;
    }
    #mobileMenuIcon {
        margin-top: 2px;
    }
    #mobileMenuIcon img {
        width: 20px;
    }
    .newContainer.homeSearchHeading h1 {
        font-size: 3rem;
        line-height: 1em;
        margin-bottom: 10px;
    }
    .newContainer.homeSearchHeading h3 {
        font-size: 1.75rem;
        line-height: 1.5em;
    }
    .homepropBoxes {
        flex: 1 0 100%;
        margin: 0;
        margin-bottom: 1em;
    }
}

@media ( max-width: 500px) {
    #searchDiv {
        padding: 0;
    }
    #new-mobile-header-nav {
        width: 100%;
    }
    #mobileMenuIcon {
        margin-top: 4px;
    }
    .newContainer.homeSearchBox .advance-search-form .option-bar.property-keyword,
    .newContainer.homeSearchBox .option-bar.property-location {
        width: 100%;
    }
    #howitworksDiv {
        padding-bottom: 7vh;
    }
    #homeProperties {
        padding-top: 7vh;
    }
    #homeProperties h1,
    #howitworksDiv .newContainer2 h1 {
        font-size: 3rem;
    }
    #howitworksDiv .newContainer2 h1 {
        margin-bottom: 5px;
    }
    #homeProperties .newContainer {
        display: block;
    }
    .homepropBoxes {
        display: block;
        width: 100%;
    }
    .new-property-thumbnail img {
        height: 250px;
    }
    .new-property-thumbnail a img {
        height: 250px;
    }
    .new-price-and-status {}
    .newContainer.homeSearchBox .option-bar.form-control-buttons {
        width: 100%;
    }
    .copyrightBox {
        padding-bottom: 1em;
    }
}


/* FULL SCREEN IPHONE FIX */

.page {
    padding: 0;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: 0;
}

@supports(padding: max(0px)) {
    .page {
        padding-left: max(0, env(safe-area-inset-left));
        padding-right: max(0, env(safe-area-inset-right));
    }
}

.background-cover-no-repeat {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}

@media only screen and (max-width: 576px) {
    .pdl {
        padding: 20px 0px 0px 32px !important;
    }
}

.container-fluid {
	height: 100;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-legend {
	display: block;
	font-size: 14px;
	width: auto;
	padding: 2px 7px 2px 5px;
	margin-bottom: 20px;
	line-height: inherit;
	color: #333;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	cursor: initial;
}

#site-main-nav-left ul li:not(:first-child) {
    margin-right: 40px !important;
	padding-top: 5px;
}
.newHeader {
    background: #293542;
}

@media (min-width: 901px)
{
	.newContainer .site-main-nav .main-menu>li>a, .newContainer .site-main-nav-left .main-menu>li>a {
    color: #fff;
}

}
.alm-btn-wrap .alm-load-more-btn{
	background: #293542 !important;
}
.login-form-submit {
    background-color: #293542 !important;
}
.login-form-submit:hover {
    background-color: #293542 !important;
}
.overlay-on-thumbnail-stripe {
	bottom:-39px !important;
	background: #293542 !important;
	font-size:14px !important;
	height: 39px !important;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.meta-icon {
    fill: #ffffff !important;
}
selection__rendered {
    color: #f8f6f5;
    background: #2c8fb3;
    border-color: #2c8fb3 !important;
}
cloudflare-app[app="tibrr-cookie-consent"] > .tibrr-cookie-consent-container {
	display:none !important;
}

@media (max-width: 500px)
{
/* .overlay-on-thumbnail-stripe {
    bottom: 200px!important;
} */
	.new-price-and-status {
    float: none;
}
.thumbnail-size {
    border-bottom: 1px solid #2a3542;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
	.wrapper {
    display:none !important;
	}
	.ms-options-wrap>.ms-options{
		width: 80% !important;
		margin-left: 32px;
	}
}
.meta-icon-container {

    display: none;
}
.meta-item-label {
    display: inline-block !important;
}
.meta-inner-wrapper {
    padding-left: 0px !important;
}

@media screen and (max-width: 991px) and (min-width: 577px){
	span#select2-country_listing1-container {
    width: 26%;
		margin-top: 48px;
}
	span.select2-selection.select2-selection--single {
    margin-left: 20%;
		
}
}
@media screen and (max-width: 377px) and (min-width: 230px){
.overlay-on-thumbnail-stripe {
    font-size: 11px!important;
}
}
.select2-container .select2-selection--single .select2-selection__rendered {
    box-shadow: 0 0 7.49px 0.51px rgba(0,0,0,.5);
}
#scroll-top {
    background-color: #878d94 !important;
    right: 52px !important;
    bottom: 20px !important;
}

#scroll-top:active {
    background-color: #7a8ca0!important;
}

#scroll-top:hover {
    background-color: #7a8ca0!important;
}
.wp-chatbot-board-container:before {
	background:transparent !important;
}
.wp-chatbot-content {
    
  background: #ffffff !important;
}
ul.wp-chatbot-messages-container>li.wp-chatbot-msg .wp-chatbot-paragraph, .wp-chatbot-agent-profile .wp-chatbot-bubble {
    color: #ffffff!important;
    background-color: #3e4560!important;
}
.wp-chatbot-container {
    box-shadow: 0 0 50px rgb(42 53 66) !important;
}
.wp-chatbot-board-container {
    display: none;
	font-family:barlow !important;
}

.newContainer .site-main-nav-left .sub-menu li a {
    color: #ffffff !important;
}
.newContainer .site-main-nav-left .sub-menu {
    background: #3f4751;
}
li.cat-item.cat-item- a:hover {
    color: #878c94;
}
span.select2-selection.select2-selection--single {
    padding: 0px !important;
}
.wp-chatbot-tab-nav ul li.wp-chatbot-operation-active a {
    background-color: rgb(125 136 153) !important;
}
.wp-chatbot-tab-nav ul li a {
    background-color: #7d8799 !important;
}
.wp-chatbot-tab-nav ul li.wp-chatbot-operation-active a:before {
	border: 3px solid rgb(125 136 153) !important; 
}
.wp-chatbot-tab-nav ul li.wp-chatbot-operation-active a {
    background-color: rgb(125 136 153);
}
.wp-chatbot-tab-nav ul li a {
    background-color: #7d8899;
}
#wp-chatbot-chat-container a:hover {
    color: #7d8799!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:after
{
	content: ' ' !important;
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0,0,0,0);
    border-top-color: #b5b9bf;
    margin-top: -3px;
}
.select2-selection__rendered {
    border: none !important; 
}
.select2-container--default .select2-selection--single{
	border:none !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    box-shadow: 0 0 7.49px 0.51px rgb(191 191 191);
}
.wp-chatbot-tab-nav ul li:hover a:before {
    border: 3px solid rgb(125 135 153) !important;
}
span.qcld-chatbot-suggest-email{
background-color:#3e455f!important;
	box-shadow: rgb(62 69 95) 0 4px 24px;
}
span.qcld-chatbot-suggest-phone{
background-color: #3e455f!important;
	border: 1px solid #3f465f;
	box-shadow: rgb(62 69 95) 0 4px 24px !important;
}
ul.wp-chatbot-messages-container>li>.wp-chatbot-agent{
	background-color: #3e455e !important;
}
span.qcld-chatbot-suggest-phone:hover{
	    background-color: #3e455f!important;
}
span.qcld-chatbot-suggest-email:hover{
	  background-color: #3e455f!important;
}
.wp-chatbot-editor-container button{
	box-shadow: rgb(125 135 153) 0 4px 24px;
}
.newFooter {
    padding-bottom: 0px !important;
}
.newContainer .site-main-nav-left .main-menu>li>a:hover{
	color:#7d8799 !important;
}
#headerRight .user-nav a:hover{
		color:#7d8799 !important;
}
.newContainer .site-main-nav-left .sub-menu li a:hover {
    color:#7d8799 !important;
}
a.activate-section:hover {
    color: #7d8799;
}
@media (max-width: 576px){	.showmob button {
		background-color: #2a3542 !important;
}
	}
#homeProperties .new-property-info{
	margin-top: 50px !important; 
}
.meta-inner-wrapper {
    padding-top: 2px!important;
}
#advancesearchClose {
	background-color: #2b3542 !important;
}
@media (max-width: 900px){
	.site-main-nav-left .main-menu>li>a {
		    border-bottom: 1px solid #2c8fb3;
    padding-bottom: 4px;
	}

}
@media (min-width: 992px){
            body{
				line-height: 2!important;
            }
        }